<br>
<br>
<div fxFlex fxLayout="column">
  <div fxLayout="row wrap">
    <div fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column"
         *ngFor="let post of post$ | async">
        <mat-card>
          <mat-card-header>
            <img mat-card-avatar src="{{post.avatar_url}}" alt="" class="example-header-image">
            <mat-card-title>{{post.login}} </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              <a [href]="">{{post.url}} </a>
              <a [href]="">{{post.repos_url}}</a>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

    </div>
  </div>
</div>


