.example-card {
  max-width: 200px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-chip.info-chip{
  padding: 4px 8px;
  min-height: 26px;
  font-size: 12px;
  font-weight: 400;
}

.mat-icon{
  margin-right: 4px;
}
